    .footer {
  background-color: rgb(102, 102, 246);
  color: white;
  padding: 20px;
  text-align: center;
}

.footer-content h3 {
  margin-bottom: 10px;
  align-items: center;
}

.footer-content p {
  margin: 5px 0;
  font-size: 14px;
}
.dog{
  color: blue;

}